<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Downloader</title>
</head>
<body>
    <h1 style="text-align: center">Playlist Downloader</h1>

    <form action="#" method="post">
        <div class="form-group" style="text-align:center">
          <input name="playlist_id" class="form-control" placeholder="Enter playlist ID">
        </div>

        <br>

        <div class="form-group" style="text-align:center">
            <input name="token" class="form-control" placeholder="Enter Token"> <br>
            <a href="https://developer.spotify.com/console/get-playlist/?playlist_id=1s9MirMoT3CDgBNGgMcECL&market=&fields=&additional_types="> You can get the token by clicking here</a>
        </div>

        <br>
       
        <div class="form-group" style="text-align:center">
            <input name="download_path" class="form-control" placeholder="Enter download path">
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <br>

</body>
</html>